.alistar{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: space-around;
    padding-top: 60px;
    color: rgb(255, 255, 255);
    text-align: center;
}

.rodape{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 15px;
    font-size: 10px;
    color: rgb(255, 255, 255);
    border-top: 0.4px solid rgba(255, 255, 255, 0.068);
    margin-top: 70px;
}

body{
    background-image: linear-gradient(rgb(48, 48, 48), rgb(0, 0, 0));
}

.banner-sobre{
    max-height: fit-content;
    max-width: fit-content;
}
.conteudo-sobre{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: space-around;
    padding: 90px;
    color: rgb(255, 255, 255);
    text-align: center;
}


.acasa{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 50px;
    align-items: center;
    align-content: space-around;
    color: rgb(255, 255, 255);
    text-align: center;
}

.acasa-texto{
    display: flex;
    order: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: space-around;
    color: rgb(255, 255, 255);
    text-align: center;
}

.acasa-img{
    max-height: 300px;
    max-width: 300px;
    border-radius: 20px;
}
.cursos{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 50px;
    align-items: center;
    align-content: space-around;
    padding-top: 80px;
    color: rgb(255, 255, 255);
    text-align: center;
}
.cursos-texto{
    display: flex;
    order: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: space-around;
    color: rgb(255, 255, 255);
    text-align: center;
}

.cursos-img{
    max-height: 300px;
    max-width: 300px;
    border-radius: 40px;
}

.espec{
    display: flex;
    order: 1;
    flex-direction: row;
    justify-content: space-between;
    gap: 50px;
    align-items: center;
    align-content: space-around;
    padding-top: 80px;
    color: rgb(255, 255, 255);
    text-align: center;
}
.espec-texto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: space-around;
    color: rgb(255, 255, 255);
    text-align: center;
}

.espec-img{
    max-height: 300px;
    max-width: 300px;
    border-radius: 40px;
    
}